<section class="content-block">
    <h1>Расходы</h1>
    <div class="blocks">
        <div class="block">
            <div class="block-title">Еда</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Жильё</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Здоровье</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Кафе</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Авто</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Одежда</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Развлечения</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Счета</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Спорт</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <a href="#/create-expenses" class="block create-block">
            +
        </a>
    </div>
    <div class="popup align-items-center justify-content-center position-absolute">
        <div class="popup-block">
            <div class="popup-title">
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </div>
            <div class="block-actions">
                <button class="create">Да, удалить</button>
                <button class="cancel">Не удалять</button>
            </div>
        </div>
    </div>
</section>