<section>
    <h1>Доходы</h1>
    <div class="blocks">
        <div class="block">
            <div class="block-title">Еда</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Жильё</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Здоровье</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Кафе</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Авто</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Одежда</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Развлечения</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Счета</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Спорт</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block create-block">
            +
        </div>
    </div>
</section>