<section>
    <h1>Доходы</h1>
    <div class="blocks">
        <div class="block">
            <div class="block-title">Депозиты</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Депозиты</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Депозиты</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <div class="block">
            <div class="block-title">Депозиты</div>
            <div class="block-actions">
                <button class="edit">Редактировать</button>
                <button class="delete">Удалить</button>
            </div>
        </div>
        <a href="#/create-income" class="block create-block">
            +
        </a>
    </div>
</section>